.volver {

    display: flex;
    justify-content: center;
    align-items: center;

    h3 {

        margin-left: 10px;
        font-family: Montserrat;

    }

    .flechita {

        width: 40px;

    }

}