.imagen-prelogin {

  position: absolute;
  z-index: -1;
  top: 0;

}

.slider-container{
    display: block;
    justify-content: center;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
        
    .btn-popup{
      background-color: transparent;
      border: 10px solid white;
      width: 100vw;
      max-height: 1px;
      position: fixed;
      position: absolute;
    }
 
    .slider-container-1{
      display: block;
      justify-content: center;
      max-width: 100vw;
      background: none;
.swiper {
  position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  
  .swiper-slide {
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 260px!important;
    margin-left: 20px;
  }
  .swiper-slide p {
    width:90%;
    margin-left: 10px;
  }
  .swiper-slide h4 {
    font-size: 16px;
    color:rgb(1 116 142);
    margin: 10px;
    width:90%;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border: solid 1px rgb(250 156 147)!important;
    opacity: 1;
    background: #fff!important;
  }
  
  .swiper-pagination-bullet-active {

    background: rgb(250 156 147)!important;
  }
  .btn-next{
    background-color:rgb(250 156 147) ;
  border: none;
  border-radius: 5px;
  color:white;
  width: 196px;
  min-height: 45px;
  margin: 10px;
  }
}
}

@media (min-width: 360px) and (max-width: 413px) {
  .slider-container{

    background-color: transparent;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      background-color: white;
   
    .slider-container-1{

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 260px!important;
    margin-left: 60px;
  }
  .swiper-slide p {
    width:90%;
    margin-left: 20px;
  }
}
}
}
@media (min-width: 414px) and (max-width: 760px) {
  .slider-container{
      background-color: transparent;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      background-color: white;
   
    .slider-container-1{
      .swiper {
        position: absolute;
          width: 100vw;
          height: 100vh;
          background-color: white;
        }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 260px!important;
    margin-left: 70px;
  }
  .swiper-slide p {
    width:90%;
    margin-left: 20px;
  }
}
}
}
@media (min-width: 762px) and (max-width: 1023px){
  .slider-container{
    .slider-container-1{
.swiper-slide img {
  display: flex;
  width: 600px;
  height: 100%;
  object-fit: cover;

}
.slide-img1{
  margin-left: 9vw!important;
  min-width: 40vw!important;
  margin-bottom: 20px;
}
.slide-img2{
  margin-left: 28vw!important;
  min-width: 40vw!important;
  margin-bottom: 20px;
}
.slide-img3{
  margin-left: 18vw!important;
  min-width: 40vw!important;
  margin-bottom: 20px;
}
.swiper-slide p {
  width:90%;
  margin-left: 40px;
}
.swiper-slide h4 {
  font-size: 20px;
  color:rgb(1 116 142);
  margin: 20px;
  width:90%;
}
}
  }
}
@media (min-width: 1024px) {
  .slider-container{
    .slider-container-1{
.swiper-slide img {
  display: flex;
  width: 600px;
  height: 100%;
  object-fit: cover;

}
.slide-img1{
  margin-left: 12vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.slide-img2{
  margin-left: 28vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.slide-img3{
  margin-left: 18vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.swiper-slide p {
  width:90%;
  margin-left: 40px;
}
.swiper-slide h4 {
  font-size: 20px;
  color:rgb(1 116 142);
  margin: 20px;
  width:90%;
}
}
  }
}
@media (min-width: 1200px) {
  .slider-container{
    .slider-container-1{
.swiper-slide img {
  display: flex;
  width: 600px;
  height: 100%;
  object-fit: cover;

}
.slide-img1{
  margin-left: 10vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.slide-img2{
  margin-left: 23vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.slide-img3{
  margin-left: 16vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.swiper-slide p {
  width:90%;
  margin-left: 40px;
}
.swiper-slide h4 {
  font-size: 20px;
  color:rgb(1 116 142);
  margin: 20px;
  width:90%;
}
}
  }
}

@media (min-width: 1440px) {
  .slider-container{
    .slider-container-1{
.swiper-slide img {
  display: flex;
  width: 600px;
  height: 100%;
  object-fit: cover;

}
.slide-img1{
  margin-left: 4vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.slide-img2{
  margin-left: 12vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.slide-img3{
  margin-left: 6vw!important;
  min-width: 20vw!important;
  margin-bottom: 20px;
}
.swiper-slide p {
  width:90%;
  margin-left: 40px;
}
.swiper-slide h4 {
  font-size: 20px;
  color:rgb(1 116 142);
  margin: 20px;
  width:90%;
}
}
  }
}