.slider-container{
    min-height: 80vh;
    min-width: 100vw;
    margin-top: 85px;
}
.btn-slider{
    border-radius:50%;
    min-height: 16px;
    min-width: 12px;
    background-color: transparent;
    border: 2px solid rgb(250 156 147);
    margin:10px;
}
.btn-contain{
    display: flex;
    justify-content: center;
    align-items:baseline;
    margin-top: 35vh;
}
.swiper {
    width: 90vw;
    height: 80vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;

  }
  
  .swiper-pagination-bullet-active {
    color: rgb(250 156 147)!important;
    background: rgb(250 156 147)!important;
  }