.div-novedades {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;

}

.saludo {

    margin-top: 50px;
    text-align: left;
    width: 90%;
    color: rgb(1 116 142);

}

.hr-home {

    width: 90%;
    margin: 20px 0px;
    background-color: #bdd2d6;
    height: 0.08px;
    border: none;

}

.noticias {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.novedades {

    color: rgb(1 116 142);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;

}

.div-swiper {

    width: 100vw;
    margin-top: 30px;

    .swiper-slide {

        display: flex;
        justify-content: center;

    }

    .img-tarjeta {

        width: 25% !important;
        height: 70% !important;
        margin: 20px;
    
    }
    
    .tarjeta {
    
        display: flex;
        width: 90%;
        height: 100px;
        border-radius: 5px;
        background-color: #bdd2d6;
        justify-content: space-between;
        -webkit-box-shadow: 0px 4px 10px 0px rgb(1 116 142), 10px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 4px 10px 0px rgb(1 116 142), 10px 5px 15px 5px rgba(0,0,0,0);      
    
    }
    
    .info-tarjeta {
    
        display: flex;
        flex-direction: column;
        align-content: space-around;
        margin: 20px;
    
        .title-tarjeta {
            
            height: auto;
            text-align: left;
            margin-bottom: 10px;
            color: rgb(1 116 142);
    
        }
    
        .p-tarjeta {
    
            width: 100%;
            height: auto;
            text-align: left;
    
        }
    
    
    }

}

.swiper {

    width: 100vw;
    height: 150px;

}

.noticia {

    background-color: rgb(250 156 147);
    width: 350px;
    height: 290px;
    margin: 20px;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .img-noticia {

        width: 100%;
        border-radius: 10px 10px 0px 0px;
        height: 250px;

    }

    .h3-noticia {

        color: white;
        font-weight: 600;
        font-size: medium;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

}

.swiper-pagination-bullet {

    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    border: solid 1px rgb(250 156 147)!important;
    opacity: 1;
    background: #fff!important;

}
  
  .swiper-pagination-bullet-active {

    background: rgb(250 156 147)!important;

}