.mapa-container {

    height: 78.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.mapa {

    height: 100%;
    width: 100vw;
    margin-top: 20px;

}

.imagen-perrito {

   width: 100%;

}