.adoption-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;

 

  .form-title {
    margin-top: 30px;
    padding: 5px;
    font-size: 0.5em;
    
  }

  .form-progressBar {
    margin: 20px;
    .progressBar-container {
      height: 8px;
      width: 300px;
      background-color: rgb(255, 216, 212);
      border-radius: 10px;

      .progressBar1-filler {
        height: 100%;
        width: 33%;
        background-color: rgb(250, 156, 147);
        border-radius: inherit;
      }
    }
  }


  .form-subtitle {
    display: flex;
    margin: 10px;
    font-size: 1.1em;
    color: rgb(1, 116, 142);
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;

    input {
      padding: 2px;
      margin: 10px;
      border: none;
      border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
    }
  }

  .checkbox-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 10px;
    .checkbox {
      transform: scale(2);
    }

    .checkbox-text {
      font-size: 0.6em;
    }
  }

  .submit {
    background-color: rgb(250, 156, 147);
    color: rgb(255, 250, 250);
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
}

.div-siguiente {

  margin-top: 20px;

}