.adoption-form3-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  overflow-y: scroll;


  .form3-title {
    margin-top: 30px;
    padding: 5px;
    font-size: 0.5em;
  }

  .form-progressBar {
    margin: 20px;
    .progressBar-container {
      height: 8px;
      width: 300px;
      background-color: rgb(255, 216, 212);
      border-radius: 10px;

      .progressBar3-filler {
        height: 100%;
        width: 100%;
        background-color: rgb(250, 156, 147);
        border-radius: inherit;
      }
    }
  }
.prueba{
display: flex;
flex-direction: column;
max-width: 90vw;


  .form3-subtitle {
    display: flex;
    margin: 20px;
    font-size: 1.1em;
    color: rgb(1, 116, 142);
  }

  .form3-input {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .form3-radio-list {
    display: flex;
    flex-direction: column;
    align-items: center;



    .form3-radio-unit {
      width: 100%;
      display: flex;
      justify-content:space-between;
      align-items: center;

      .radio-text {
        font-size: small;
        display: flex;
      }
      .radio {
        display: flex;
        align-items: center;
        
      }
    }
  }

  input {
    padding: 2px;
    margin: 10px;
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  }

  .submit {
    background-color: rgb(250, 156, 147);
    color: rgb(255, 250, 250);
    padding: 10px;
    margin: 30px 0px 30px 0px;
    border: none;
    border-radius: 5px;
  }
}
}
