.div-navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: white;
    
    -webkit-box-shadow: 0px -10px 13px -7px #dad8d8, 5px 5px 5px 5px rgba(104, 103, 103, 0); 
    box-shadow: 0px -10px 13px -7px #dad8d8, 5px 5px 5px 5px rgba(165, 161, 161, 0);

    .img-navbar {

        width: 30px;

    }

}

.img-perfilito {

    border: solid 2px rgb(250 156 147);
    border-radius: 50px;
    width: 40px;
    height: 40px;

}