.div-compartir-principal {

  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 31vh;
  /* background-color: white; */
}

.div-compartir {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 200px;
  background-color: white;
  border-radius: 5px;

  .sexonombreyciudad {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sexoynombre {

      display: flex;
      justify-content: center;
      align-items: center;

      .nombreAnimal {

        text-transform: capitalize;

      }

      .sexo {

        max-width: 20px;
        max-height: 20px;
        margin-right: 5px;

      }

    }

  }

  .compartir {

    display: flex;
    justify-content: center;
    align-items: center;

    .img-compartir-corazon {

      max-width: 30px;
      max-height: 30px;

    }

    .img-compartir-compartir {

      max-width: 40px;
      max-height: 40px;

    }

  }

}

.detail-info-superior {

  width: 100%;
  display: flex;
  justify-content: center;

}

.detail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: scroll;
  &-figure {
    height: 35vh;
    overflow: hidden;
    margin-bottom: 20px;
    &__img {
      width: 100%;
      
    }
  }

  &-btn-div {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

  &-btn{
    border: none;
    background-color: white;
    margin: 10px 0;
    width: 33.33%;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: medium;
    &:focus{
      color: rgb(1 116 142);
      border-bottom: 2px solid #fa9c93;
    }
  }

  &-info {
    width: 90%;
  }

  &-adopt{
    &__btn{
      width: 33.33%;
      height: 33px;
      background-color: rgb(250 156 147);
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 17px;
    }
  }
}


/* .btn1{
  border: none;
  text-decoration: underline;
}

.autoFocus{
  border: none;
} */

.popupazul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 116, 142, 0.589);
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.popupdetalle{
  width: 90vw;
  height: 80vh;
  background-color: whitesmoke;
  border-radius: 15px;
  h3{
    color: rgb(1 116 142);
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
  p{
    margin: 20px;
    font-size: 14px;
  }
  h4{
    color: rgb(1 116 142);
    letter-spacing: 0.5px;
    margin: 10px;
    font-size: 16px;
    margin-top:40px
  }
  img{
    margin-top: 40px;
  }
 .btn-pop-container{
  display: flex;
  max-height: 100vh;
  border-top: 1px solid rgb(189 210 214);
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  height: 80px;
  .contain1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 50vw;
    margin-right:210px;
    margin-bottom: 5px;
    height: 72px;
    border-right: 1px solid rgb(189 210 214);
  }
  .contain2{
    margin-left: 180px;
    position: absolute;
    max-width: 50vw;
    
  }

  .btn-pop{
  margin-top: 34px;
  margin-left: 20px;
  border: none;
  background-color: transparent;
  width:50vw;
  height:60px;
  font-weight: bold;
  }
  button{
    font-size: 16px;
    margin-bottom: 32px;
    color:#fa9c93;
   
  }
}
}