.adoption {
  display: flex;
  flex-direction: column;
  
  &-requirements {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1.5px solid #bdd2d6;
      border-radius: 5px;
      padding: 10px;
      min-height: 50px;
      margin: 15px 0px;
    &__title {
      color: rgb(1 116 142);
    }
    &__content {
    }
  }
  &-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1.5px solid #bdd2d6;
      border-radius: 5px;
      padding: 10px;
      min-height: 50px;
      margin: 15px 0px;
    &__title {
      color: rgb(1 116 142);
    }
    &__content {
    }
  }
  &-shipping {
    border: 1.5px solid #bdd2d6;
      border-radius: 5px;
      padding: 10px;
      min-height: 50px;
      margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &-title {
      color: rgb(1 116 142);
    }
    &__content {
    }
  }
}
