.detailInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-div {
    display: flex;
    align-items: center;
    &__img {
      width: 25px;
      margin-right: 10px;
    }
    &__title {
      font-weight: 400;
    }
  }
  &-info {
    text-transform: capitalize;
  }
}
